.container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 25px;
  width: 288px;
}
.input {
  padding: 6px 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
  transition: border-color 250ms linear;
}
.input:focus {
  border-color: rgb(7, 98, 189);
}
