.wrapper {
  border: 2px solid rgb(152, 183, 230);
  border-radius: 4px;
  display: flex;
  padding: 20px 10px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.item {
  display: flex;
  column-gap: 8px;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  max-width: 195px;
}
.item:first-child {
  margin-bottom: 5px;
}
.button {
  padding: 5px;
  line-height: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 7px;
  right: 40px;
  color: rgb(20, 20, 20, 0.4);
  transition: color 250ms linear;
}
.deletButton {
  padding: 5px;
  line-height: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  color: rgb(20, 20, 20, 0.4);
  transition: color 250ms linear;
}
button:hover {
  color: rgb(20, 20, 20, 0.6);
}
.icon {
  color: rgb(54, 94, 153);
}
.deleteIcon {
  color: inherit;
}

.editIcon {
  color: inherit;
}
