.form {
  width: 400px;
  padding-top: 120px;
  margin-right: auto;
  margin-left: auto;
}
.button {
  border: none;
  width: 100%;
  height: 40px;
  outline: transparent;
  background-color: #54abf3;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 250ms linear;
  margin-bottom: 15px;
}
.button:hover {
  background-color: #2196f3;
}
.link {
  color: #78b4e6;
  font-size: 14px;
  font-weight: 400;
  display: block;
  text-align: end;
  transition: color 250ms linear;
}
.link:hover {
  color: #0579d8;
}
.title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 18px;
}
