/* .main {
  margin-bottom: 40px;
  color: black;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 21, 21, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
} */
.loader {
  padding-top: 150px;
}
