.comtainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  padding-top: 120px;
}
.form {
  width: 400px;
}
.input {
  width: 100%;
  height: 60px;
  background-color: transparent;
  padding-left: 36px;
  color: #212121;
  outline: transparent;
  border: 2px solid rgb(83, 83, 83, 0.6);
  border-radius: 6px;
  transition: all 250ms linear;
}
.input:hover {
  border-color: rgba(20, 20, 20, 0.9);
}

.wrapper {
  position: relative;
  margin-bottom: 20px;
}
.error {
  position: absolute;
  font-size: 10px;
  color: firebrick;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
}
.label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 36px;
  transition: all 250ms linear;
  background-color: white;
  padding: 0 2px;
}
.userIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #78b4e6;
}
.input:focus {
  border: 2px solid #2196f3;
}
.input:focus + .label,
.input:valid + .label {
  left: 30px;
  top: 0;
  font-size: 14px;
}
.input:focus + .label {
  color: #2196f3;
}
.iconError {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  color: firebrick;

  size: 22px;
}
.checkOk {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  color: forestgreen;
}

.button {
  border: none;
  width: 100%;
  height: 40px;
  outline: transparent;
  background-color: #54abf3;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 250ms linear;
  margin-bottom: 15px;
  cursor: pointer;
}
.button:hover {
  background-color: #2196f3;
}
.link {
  color: #78b4e6;
  font-size: 14px;
  font-weight: 400;
  display: block;
  text-align: end;
  transition: color 250ms linear;
}
.link:hover {
  color: #0579d8;
}
.title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 18px;
}
