.list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 120px;
}
.item {
  width: calc((100% - 45px) / 4);
}
.noContacts {
  font-size: 22px;
  margin-right: auto;
  margin-left: auto;
}
